/* Write your CSS here */

.bg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details-container {
  width: 55%;
  align-self: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.big-img {
  height: 500px;
  width: 300px;
  border-radius: 8px;
  margin-right: 20px;
}

.name-and-extra {
  width: 400px;
}

.title {
  color: #171f46;
  font-size: 39px;
  font-size: bold;
  margin-top: 0px;
}

.price {
  color: #1e293b;
  font-size: 22px;
  font-weight: 500px;
  margin-top: 10px;
}

.rate-and-review {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding: 6px 16px;
  margin-top: 15px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
}

.total-reviews {
  color: #1e293b;
  font-weight: 600;
  font-size: 16px;
  margin-left: 15px;
}

.description {
  color: #616e7c;
  font-size: 16px;
  font-weight: 500;
}

.available {
  color: #1e293b;
  font-size: 18px;
  font-weight: 700;
  margin-top: 7px;
}

.span-text {
  color: #616e7c;
  font-size: 15px;
  font-weight: 500;
}

.hr-line {
  border: #cbced2 solid 1px;
}

.quantity-container {
  display: flex;
  flex-direction: column;
}

.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  color: #1e293b;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 25px;
}
.btn {
  background-color: transparent;
  color: #1e293b;
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
  height: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}

.add-to-cart-btn {
  height: 38px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #3b82f6;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  outline: none;
  font-size: 13px;
  font-weight: 600;
}

.similar-products-container {
  align-self: center;
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.similar-heading {
  color: #171f46;
  font-size: 29px;
  font-weight: 800;
  font-family: 'roboto';
}

.similar-products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  width: 350px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 20px;
}

.thumbnail {
  width: 100%;
  max-height: 350px;
  border-radius: 6px;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}

.brand {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 18px;
  margin-bottom: 6px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
}

.price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding: 6px 16px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
}

.failure-view {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}

.failure-image {
  height: 260px;
  width: 460px;
}

.failure-heading {
  color: #1e293b;
  font-family: 'roboto';
  font-size: 40px;
  font-weight: 500;
}

.failure-btn {
  height: 37px;
  width: 220px;
  color: #ffffff;
  background-color: #3b82f6;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.loader {
  margin-top: 100px;
  align-self: center;
}

.link-item-failure-view {
  text-decoration: none;
}
